{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
  <link href="{% static 'css/signup.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
<h1 class="logo"><a href="{% url 'home' %}">Join In</a></h1>
  <h2 class="logo">Social network</h2>
  <div class="signup">
    <h2>Sign up for Join In</h2>
    <form action="{% url 'signup' %}" method="post" role="form">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.label }}">{{ field.label }}</label>
          {{ field }}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-lg">Create an account</button>
    </form>
  </div>
{% endblock body %}
